<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <!-- JQuery -->
    <script src="javascripts/libs/jquery-1.11.2.js"></script>
    <!-- Latest compiled and minified css -->
    <link rel="stylesheet" href="stylesheets/frameworks/bootstrap/3.3.4-dist/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="stylesheets/frameworks/bootstrap/3.3.4-dist/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="stylesheets/frameworks/bootstrap/3.3.4-dist/js/bootstrap.min.js"></script>


</head>
<body>

<header>
    <div class="container-fluid">
        <div class="row" id="topPanel">
            <div class="col-lg-4" id="logo">SID</div><div class="col-lg-8"></div>
        </div>
    </div>
</header>

<section>
    <div>Signed Up.
        <p>


    </div>
</section>
<footer>
    <div class="container-fluid">
        <div class="bottomPanel row">
            <div class="col-lg-12" id="credits"><span>made by <%= maker %> </span> <a href="http://www.w3.org/html/logo/">
                    <img src="http://www.w3.org/html/logo/badge/html5-badge-h-css3-device-semantics-storage.png" width="229" height="64" alt="HTML5 Powered with CSS3 / Styling, Device Access, Semantics, and Offline &amp; Storage" title="HTML5 Powered with CSS3 / Styling, Device Access, Semantics, and Offline &amp; Storage">
                </a></div>
        </div>
    </div>
</footer>

</body>
</html>
